<div class="side-menu">

    <!-- Categories Section -->
    <div class="menu-tile">
        <h3 class="tile-title">Categories</h3>
        <ul class="categories-list">
            <li>
                <a [routerLink]="['/home/category', 'AI model','category']">
                    <span>AI model</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/category', 'Agent','category']">
                    <span>Agent</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/category', 'Voice','category']">
                    <span>Voice</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/category', 'Image','category']">
                    <span>Image</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/category', 'Video Editing','category']">
                    <span>Video Editing</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a [routerLink]="['/home/category', 'Dev Tools','category']">
                    <span>Dev Tools</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
        </ul>
    </div>

    <!-- Use Cases Section -->
    <div class="menu-tile">
        <h3 class="tile-title">Use Cases</h3>
        <div class="chips-wrapper">
            <span class="chip" *ngFor="let useCase of useCases" [ngClass]="{'active': activeUseCase === useCase.name}">

                <ng-container *ngIf="useCase.route; else staticChip">
                    <a [routerLink]="['/home/category', useCase.route, useCase.type]" (click)="setActive(useCase.name)">
                        <span>{{ useCase.name }}</span>
                        <img src="../../../assets/images/rightarrow.png" alt="arrow">
                    </a>
                </ng-container>

                <ng-template #staticChip>
                    {{ useCase.name }}
                </ng-template>
            </span>
        </div>
    </div>



</div>