<div class="side-menu">

    <!-- Categories Section -->
    <div class="menu-tile">
        <h3 class="tile-title">Categories</h3>
        <ul class="categories-list">
            <li>
                <a routerLink="/ai-model">
                    <span>AI model</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a routerLink="/agent">
                    <span>Agent</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a routerLink="/voice">
                    <span>Voice</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a routerLink="/image">
                    <span>Image</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a routerLink="/video-editing">
                    <span>Video Editing</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
            <li>
                <a routerLink="/dev-tools">
                    <span>Dev Tools</span>
                    <img src="../../../assets/images/rightarrow.png" alt="arrow">
                </a>
            </li>
        </ul>
    </div>

    <!-- Use Cases Section -->
    <div class="menu-tile">
        <h3 class="tile-title">Use cases</h3>
        <div class="chips-wrapper">
            <span class="chip">sells</span>
            <span class="chip">Productivity</span>
            <span class="chip active">sells</span>

            <span class="chip">sells</span>
            <span class="chip">Productivity</span>
            <span class="chip">sells</span>
        </div>
    </div>

</div>