<div class="getmoreresult">
    <h2 class="section-title">Featured</h2>
    <img src="../../../assets/images/getmoreresult.svg" alt="" (click)="getmoreresult('featured')">
</div>




<app-product-card-holder [featuredArrayDetails]="featuredArrayDetails"></app-product-card-holder>



<div class="getmoreresult">
    <h2 class="section-title">New</h2>
    <img src="../../../assets/images/getmoreresult.svg" alt="" (click)="getmoreresult('new')">
</div>


<app-product-card-holder [featuredArrayDetails]="NewArrayDetails"></app-product-card-holder>



<div class="getmoreresult">
    <h2 class="section-title">Most Viewed</h2>
    <img src="../../../assets/images/getmoreresult.svg" alt="" (click)="getmoreresult('mostviewed')">
</div>

<app-product-card-holder [featuredArrayDetails]="MostViewedArrayDetails"></app-product-card-holder>


<h2 class="section-title">All</h2>
<app-common-product-list></app-common-product-list>