<h2 class="section-title">Featured</h2>




<app-product-card-holder [featuredArrayDetails]="featuredArrayDetails"></app-product-card-holder>



<h2 class="section-title">New</h2>

<app-product-card-holder [featuredArrayDetails]="featuredArrayDetails"></app-product-card-holder>



<h2 class="section-title">Most Viewed</h2>

<app-product-card-holder [featuredArrayDetails]="featuredArrayDetails"></app-product-card-holder>


<h2 class="section-title">All</h2>
<app-common-product-list></app-common-product-list>