.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (max-width: 480px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.section-title {
  font-size: 13px;
  font-weight: 600;
  color: #333;
  background: rgba(0, 0, 0, 0.069);
  border-radius: 20px;
  padding: 10px 25px;
  margin-bottom: 5px;
  width: fit-content;
  cursor: pointer;
}

.getmoreresult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}

.arrow-wrapper {
  background: #f5f7fa;
  padding: 8px;
  transition: all 0.3s ease;
  display: flex;
  border-radius: 25px;
  color: #4a90e2;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

 

.arrow-wrapper:hover {
  color: white;
  background: #4a90e2;
}

 