<div class="product-card" [routerLink]="['/home/product-item']" [queryParams]="{ productid: product.productid }"
    routerLinkActive="active-card">
    <img src="../../../assets/images/dotmenu.svg" alt="Menu" class="dotmenu" (click)="toggleDropdown($event)">

    <div class="dotmenudropdown" *ngIf="product.showDropdown">
        <ul>
            <li>Edit</li>
            <li>Delete</li>
        </ul>
    </div>
    <div class="product-icon">
        <img [src]="product.productimage" alt="tool icon" />
    </div>
    <h3 class="product-name">{{ product.productname }}</h3>
    <p class="product-type">
        <span>Category</span> {{ product.productcategory }}
    </p>

    <div class="chip-wrapper">
        <span class="chip" *ngFor="let tag of product.productusecase">{{ tag }}</span>
    </div>
</div>