<div class="header-holder">
    <!-- Left Logo -->
    <!-- <img src="../../../assets/images/12.png" alt="logo" class="logo"> -->
    <img src="../../../assets/images/logo.png" alt="logo" class="logo">


    <!-- Search Bar (centered) -->
    <app-search-bar></app-search-bar>

    <div class="auth-function-holder">
        <a routerLink="/home/battle-card" class="vs-btn">Vs</a>

        <a routerLink="/auth/sign-up" *ngIf="!isuserloggedin">Sign Up</a>
        <a routerLink="/auth/log-in" *ngIf="!isuserloggedin">Log in</a>
        <div class="profile-wrapper" (click)="toggleDropdown()" *ngIf="isuserloggedin">
            <div class="profile-avatar">
                {{ userInitials }}
            </div>

            <div class="profile-dropdown" *ngIf="dropdownOpen">
                <ul>
                    <li><a routerLink="/home/user-profile">Profile</a></li>
                    <li><a (click)="showlogoutpopup($event)">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Profile Section -->

</div>


<div class="modal-backdrop" *ngIf="showLogoutConfirm" (click)="showLogoutConfirm = false">

    <div class="modal" *ngIf="showLogoutConfirm" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <h3 class="modal-title">Are you sure?</h3>
            <p class="modal-warning">
                Do you really want to log out of your account? You will need to log in again to access your data.
            </p>

            <div class="modal-actions">
                <button class="cancel-btn" (click)="showLogoutConfirm = false">Cancel</button>
                <button class="confirm-btn" (click)="onLogout()">Yes, Log Out</button>
            </div>
        </div>
    </div>

</div>