<div class="backbtn-holder">
    <a routerLink="/" class="backbtn">
        <img src="../../../assets/images/leftarrow.png" alt="Back" class="back-icon">
        <span class="category-text">{{ newCategory || 'Category' }}</span>
    </a>
</div>



<div class="cards-container">
    <app-smaller-product-card *ngFor="let tool of toolsArray" [product]="tool">
    </app-smaller-product-card>


</div>
<div class="no-data-message" *ngIf="noData">
    <p>No products found for <strong>{{ newCategory }}</strong></p>
</div>


<span class="loadmorebtn" *ngIf="!noData">Load more</span>